---
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'
import AllPosts from '../components/AllPosts.astro'

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const allBlogPosts = await getCollection('posts')
const sortedPosts = allBlogPosts.sort(
  (a, b) => Date.parse(b.data.date) - Date.parse(a.data.date),
)
---

<Layout title='All Blog Posts'>
  <div class='mx-auto'>
    <AllPosts posts={allBlogPosts} />
  </div>
</Layout>
