---
import Layout from '../layouts/Layout.astro'
import Links from '../components/Links.astro'
---

<Layout title='Contact Hayslip'>
  <div class='flex flex-col p-6'>
    <h1 class='text-sm md:text-lg lg:text-2xl pb-4'>Hey There!</h1>
    <p>
      You can reach me at any of the social media links below. Send me a <span
        class='bg-slate-300 rounded-md px-1'>DM</span
      > and we can connect. You can also try emailing <span
        class='bg-slate-200 px-1 rounded-md'>michael (@) hayslip (.) info</span
      >.
    </p>
    <Links />
  </div>
</Layout>
