---
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets'
---

<Layout title='GPTs'>
  <div
    class='flex flex-col py-6 prose prose-sm md:prose-md lg:prose-lg pb-4 mx-auto'
  >
    <h1>GPTs</h1>
    <p>I was curious about how GPTs worked, so I decided to build one.</p>
    <div class='flex flex-col sm:flex-row items-center'>
      <a href='https://chat.openai.com/g/g-MDvqFPpf9-the-men-s-style-guru'>
        <Image
          src='/mens_style_guru_gpt.png'
          width={72}
          height={72}
          alt='Style Guru GPT'
          class='object-cover w-24 h-24 mr-4 rounded-full hover:opacity-65 hover:border hover:border-slate-300'
        />
      </a>
      <h2 class='text-sm md:text-2xl pb-4'>
        <a
          href='https://chat.openai.com/g/g-MDvqFPpf9-the-men-s-style-guru'
          class='no-underline hover:bg-slate-300 rounded-md hover:rounded-md px-1'
          >The Men's Style Guru GPT</a
        >
      </h2>
    </div>

    <h3>Your Personlized Fashion Expert</h3>

    <div>
      <a
        href='https://chat.openai.com/g/g-MDvqFPpf9-the-men-s-style-guru'
        class='hover:bg-slate-300 rouded-md hover:rounded-md px-1'
        >The Men's Style Guru</a
      >
    </div>
    <p>
      Embark on a sartorial journey with The Men's Style Guru, a dedicated GPT
      tailored to revolutionize your style with a dash of AI elegance. Perfect
      for the modern man who values fashion but seeks that professional edge,
      this digital fashionista offers bespoke styling tips, trend insights, and
      personalized outfit recommendations.
    </p>
    <h3>Features:</h3>
    <ul>
      <li>
        <span class='font-bold'>Visual Style Analysis</span> &RightArrow; Upload
        a photo, and The Men's Style Guru will break down the ensemble, providing
        feedback and alternatives for similar items. It's your very own stylist –
        anytime, anywhere.
      </li>

      <li>
        <span class='font-bold'>Shopping Made Simple</span> &RightArrow; Find out
        where to buy the suggested apparel, catering to various budgets. Style should
        not be restricted by price.
      </li>

      <li>
        <span class='font-bold'>Trend Tracking</span> &RightArrow; Keep up with the
        latest fashion trends and classic looks to ensure that your style statement
        is always current.
      </li>

      <li>
        <span class='font-bold'>Occasion Outfitting</span> &RightArrow; Specify the
        occasion – casual or business casual, and The Men's Style Guru will craft
        the perfect outfit that’s sure to turn heads.
      </li>

      <li>
        <span class='font-bold'>Seasonal Suggestions</span> &RightArrow; Receive
        recommendations on what to wear that's both stylish and suitable for the
        current season.
      </li>
      <li>
        <span class='font-bold'>Customized to You</span> &RightArrow; Tell us about
        your body shape, preferred colors, and style aspirations, and get advice
        that's uniquely tailored to you.
      </li>
    </ul>
    <h3>
      The Evolution of Style <a
        href='https://chat.openai.com/g/g-MDvqFPpf9-the-men-s-style-guru'
        class='bg-slate-300 rounded-md p-1 hover:bg-slate-100 no-underline'
      >
        The Men's Style Guru</a
      >
    </h3>
    <p>
      Guru is adaptive, learning from your preferences to fine-tune its
      suggestions, ensuring a bespoke fashion journey. It's an experience that
      grows and evolves with your personal style. Join the fashion revolution
      with <a
        href='https://chat.openai.com/g/g-MDvqFPpf9-the-men-s-style-guru'
        class='hover:bg-slate-300 hover:rounded-md px-1'>The Men's Style Guru</a
      > — where cutting-edge AI meets your wardrobe, and your image is our inspiration.
    </p>
  </div>
</Layout>
