---
const year = new Date().getFullYear()
---

<footer class='bg-slate-800 text-white py-4 px-3 mt-16'>
  <div
    class='container mx-auto flex flex-col lg:flex-row items-center justify-between'
  >
    <div class='w-full text-center md:w-1/2 md:mb-0 mb-0'>
      <p class='text-xs text-slate-400 md:text-sm'>
        Copyright {year} &copy; All Rights Reserved
      </p>
    </div>
    <div class='w-full md:w-1/2 md:text-center md:mb-0 mb-8'>
      <ul
        class='list-reset flex justify-center flex-row text-xs md:text-sm gap-6'
      >
        <li>
          <a href='/contact' class='text-slate-400 hover:text-white'>Contact</a>
        </li>
        <li>
          <a href='/blog' class='text-slate-400 hover:text-white'>Blog</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
