---

---

<header class='bg-white'>
  <nav
    class='mx-auto flex items-center justify-between px-6 lg:px-12 max-w-5xl'
    aria-label='Global'
  >
    <div class='flex justify-center text-center'>
      <a href='/'>
        <span class='sr-only'>Hayslip's Blog</span>
        <img
          class='hidden md:flex h-32 w-auto lg:px-12'
          src='/computer-programmer.svg'
        />
      </a>
      <div>
        <h1 class='text-sm md:text-3xl font-semibold mx-auto p-12'>
          Hayslip.info
        </h1>
      </div>
    </div>

    <div class='flex flex-col md:flex-row md:gap-x-12'>
      <a
        href='/'
        class='text-xs md:text-lg font-semibold leading-6 text-gray-900 hover:text-yellow-800'
        >Home</a
      >

      <a
        href='/blog'
        class='text-xs md:text-lg font-semibold leading-6 text-gray-900 hover:text-yellow-800'
        >Blog</a
      >
      <a
        href='/contact'
        class='text-xs md:text-lg font-semibold leading-6 text-gray-900 hover:text-yellow-800'
        >Contact</a
      >
      <a
        href='/gpts'
        class='text-xs md:text-lg font-semibold leading-6 text-gray-900 hover:text-yellow-800'
        >GPTs</a
      >
    </div>
  </nav>
</header>
