---
import { Icon } from 'astro-icon/components'
---

<div class='flex gap-2 text-slate-400 flex-col items-center lg:flex-row'>
  <p class='pb-4 mt-4'>Find me at:</p>
  <a
    href='https://linkedin.com/in/michaelhayslip'
    target='_blank'
    rel='noopener noreferrer'
  >
    <Icon name='mdi:linkedin' class='w-8 h-auto' />
  </a>
  <a
    href='https://x.com/michaelhayslip'
    target='_blank'
    rel='noopener noreferrer'
  >
    <Icon name='mdi:twitter' class='w-8 h-auto' />
  </a>
  <a href='https://github.com/uxking' target='_blank' rel='noopener noreferrer'>
    <Icon name='mdi:github' class='w-8 h-auto' />
  </a>
  <a
    href='https://instagram.com/michaelhayslip'
    target='_blank'
    rel='noopener noreferrer'
  >
    <Icon name='mdi:instagram' class='w-8 h-auto' />
  </a>
  <a
    href='https://www.flickr.com/uxking'
    target='_blank'
    rel='noopener noreferrer'
  >
    <Icon name='mdi:camera' class='w-8 h-auto' />
  </a>
</div>
